<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thankyou.css') }}">
  
  <title>Thank You</title>
</head>
  <body>
    <img src="{{ url_for('static', filename='images/pattern-rings.svg') }}" alt="" class="rings top-rings">
    <img src="{{ url_for('static', filename='images/pattern-circle.svg') }}" class="circle">
    <main>
      <h1>
        Thank You!
      </h1>
      <p>
        I am thrilled to hear from you and I am looking forward to the possibilities of working together. I will be sure to respond to your message as soon as possible. Your interest in my services means a lot to me and I cannot wait to see what exciting opportunities lie ahead. Thank you again!
      </p>

      <a href="/">Home Page</a>
    </main>
  </body>
</html>